@font-face {
  font-family: "iconfont"; /* Project id 3551177 */
  src: url('iconfont.woff2?t=1659664616920') format('woff2'),
       url('iconfont.woff?t=1659664616920') format('woff'),
       url('iconfont.ttf?t=1659664616920') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shibai:before {
  content: "\e67c";
}

.icon-chenggong:before {
  content: "\e67d";
}

.icon-zhanghaodenglu:before {
  content: "\e67b";
}

.icon-erweimadenglu:before {
  content: "\e67a";
}

.icon-huanjie-taotai:before {
  content: "\e678";
}

.icon-huanjie-yitongguo:before {
  content: "\e679";
}

